<template>
    <div class="card bg-card">
        <NuxtLink :to="`/mod/${mod.id}`">
            <p class="font-bold text-center truncate">{{ mod.name }}</p>
            <img class="thumb" src="~/assets/images/logo.png">
            <p class="m-1 truncate">{{ mod.description }}</p>
            <p class="m-1 truncate">
                <Icon name="ic:round-account-box"></Icon>{{ mod.author }}
            </p>
            <div class="flex justify-between">
                <div>
                    <div v-for="tag in mod.tags">
                        <div class="tag">
                            {{ tag }}
                        </div>
                    </div>
                </div>
                <div>
                    {{ mod.downloads }} <Icon name="ic:round-download"></Icon>
                    <br />
                    {{ mod.follows }} <Icon name="mdi:heart"></Icon>
                </div>
            </div>
        </NuxtLink>
    </div>
</template>

<script setup lang="ts">

const { mod: modProp } = defineProps(['mod'])
const mod = modProp as Mod

</script>

<style scoped>
img {
    max-width: 200px;
}

.tag {
    @apply rounded-md m-1 p-1 text-sm;
    background-color: #174063;
}
</style>