<template>
    <div class="card">
        <div class="grid grid-cols-2 gap-10">
            <div class="p-7">
                <img src="~/assets/images/logo.png" alt="">
            </div>
            <div class="p-7">
                <h2 class=" text-4xl my-7">{{ mod.name }}</h2>
                <p class=" mb-7">{{ mod.description }}</p>
                <p class="m-1 truncate">
                    <Icon name="ic:round-account-box"></Icon>{{ mod.author }}
                </p>
                <div>
                    <div>
                        {{ mod.downloads }} <Icon name="ic:round-download"></Icon>
                        <br />
                        {{ mod.follows }} <Icon name="mdi:heart"></Icon>
                    </div>
                    <div class="flex ">
                        <div v-for="tag in mod.tags">
                            <div class="tag">
                                {{ tag }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p>long mod description with html style can go here and span over multiple lines</p>
        </div>
    </div>
</template>

<script setup lang="ts">

const { mod: moda } = defineProps(['mod'])
const mod = moda as Mod

</script>

<style scoped>
img {
    max-width: 350px;
}

.tag {
    @apply rounded-md m-1 p-1 text-sm;
    background-color: #174063;
}
</style>