@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
}

.dark-mode body {
    background-color: #091a28;
    color: #ebf4f1;
}

.sepia-mode body {
    background-color: #f1e7d0;
    color: #433422;
}

@layer components {
    .card {
        @apply p-3 rounded-md shadow-xl h-full;
    }
}

.test {
    color: #102c44;
}