<template>
    <ModDetails :mod="mods[Number(id)-1]"></ModDetails>
</template>

<script setup lang="ts">
const { id } = useRoute().params

const mods: Mod[] = [
    {
        id: 1,
        name: "mymod",
        description: "this is a sample mod",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 2,
        name: "mymod2",
        description: "this is a sample mod2",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 3,
        name: "mymod3",
        description: "this is a sample mod3",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 4,
        name: "mymod4",
        description: "this is a sample mod4",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 5,
        name: "mymod5",
        description: "this is a sample mod5",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 6,
        name: "mymod6",
        description: "this is a sample mod6",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 7,
        name: "mymod7",
        description: "this is a sample mod7",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 8,
        name: "mymod8",
        description: "this is a sample mod8",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 9,
        name: "mymod9",
        description: "this is a sample mod9",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 10,
        name: "mymod10",
        description: "this is a sample mod 10 long text here",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
]
</script>