<template>
    <div>
        <header class="shadow-sm">
            <nav class="container p-4 flex justify-between">
                <ul class="flex gap-4">
                    <li>
                        <NuxtLink to="/" class="font-bold"><Icon name="ic:baseline-home" size="1.5em" />Home</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/mods">Mods</NuxtLink>
                    </li>
                </ul>
                <ul class="flex gap-4">
                    <li>
                        <NuxtLink to="/about">About</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink to="/account"><Icon name="ic:round-account-circle" size="2em" /></NuxtLink>
                    </li>
                </ul>
            </nav>
        </header>
        
        <div class="container p-4">
            <slot />
        </div>

        <footer class="shadow-sm p-4">
            <div class="content-between">
                <p>Made with Nuxt and <Icon name="openmoji:heart-suit" /></p>
            </div>
        </footer>
    </div>
</template>

<style scoped>
.router-link-exact-active {
    color: #4ac31e;
}
</style>