<script setup>
    // const { count } = await useFetch('/api/count');
    const name = await $fetch('/api/hello/nuxt')
</script>

<template>
    <h1>This is the about page.</h1>
    <h3>Page visits: {{ name }}</h3>
</template>