<template>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-7 gap-5">
        <div v-for="m in mods">
            <ModCard :mod="m"></ModCard>
        </div>
    </div>
</template>

<script setup lang="ts">
const mods: Mod[] = [
    {
        id: 1,
        name: "mymod",
        description: "this is a sample mod",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 2,
        name: "mymod2",
        description: "this is a sample mod2",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 3,
        name: "mymod3",
        description: "this is a sample mod3",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 4,
        name: "mymod4",
        description: "this is a sample mod4",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 5,
        name: "mymod5",
        description: "this is a sample mod5",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 6,
        name: "mymod6",
        description: "this is a sample mod6",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 7,
        name: "mymod7",
        description: "this is a sample mod7",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 8,
        name: "mymod8",
        description: "this is a sample mod8",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 9,
        name: "mymod9",
        description: "this is a sample mod9",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
    {
        id: 10,
        name: "mymod10",
        description: "this is a sample mod 10 long text here",
        follows: 10,
        downloads: 145,
        author: "Th3Dilli",
        tags: ["#test", "#test2"]
    },
]
</script>